.body_login{
    background-image: url("Espacio_1.jpg");
    overflow: hidden;
}

#login_image{
    background-image: url("Cohete_login.jpg");
    background-position: center center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#login{
    margin-top: 40px;
}

#register{
    margin-top: 40px;
}
#login_form{
    background-color: rgba(255,255,255,0.7);
}

#slogan{
    margin-top: 53px;
}
#body_index{
    background-color: #00040c;
}
#header {
    color: white;
    align-items: center;
    background-color: black;
}

#titulo_header {
    text-align: center;
}

#titulo_header h1{
    font-size: 70px;
}

#titulo_header h4{
    font-size: 40px;
}

#botones_header {
    padding-top: 10px;
    margin-right: 10px;
    text-align: end;
}
#sec{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: .5s;
    margin-right: 5px;
}

#sec:hover {
    background-color: #1e1e1e;
    text-decoration: underline;
}

#botones_header img{
    width: 60px;
}

#cerrarSesion{
 font-size: 30px;
    margin-left: 10px;
    margin-right: 20px;
}

#fotos{
    background-color: aqua;
    background: linear-gradient(to top, #00040c,black);
    color: white;
    padding-bottom: 50px;
}

.tarjetas{
    width: 300px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: large;
}

.tarjetas img{
    width: 250px;
}

footer{
    margin-top: 300px;
}

#negro{
    background-color: black;
}

.contenedor-buscador{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #033454;
    color: aquamarine;
}

