<div class="contenedor-buscador">

<div class="titulo">

        <div class="resp-accordion" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span><span class="material-symbols-outlined">flight</span><span>Vuelos</span></div><div class="resp-tab-content" aria-labelledby="tab_item-0">
        <form class="small" method="post" action="#">
            <div class="row row-20 row-md-23">
                <div class="col-lg-8">
                    <div class="form-wrap radio-inline-wrapper">
                        <label class="radio-inline">
                            <input name="input-group-radio" value="radio-1" type="radio" checked="" class="radio-custom"><span class="radio-custom-dummy"></span>Round Trip
                        </label>
                        <label class="radio-inline">
                            <input name="input-group-radio" value="radio-2" type="radio" class="radio-custom"><span class="radio-custom-dummy"></span>One Way
                        </label>
                        <label class="radio-inline">
                            <input name="input-group-radio" value="radio-3" type="radio" class="radio-custom"><span class="radio-custom-dummy"></span>Multi-city
                        </label>
                    </div>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <div class="form-wrap">
                        <label class="checkbox-inline">
                            <input name="input-group-radio" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Direct Flights Only
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row row-20 row-md-23">
                        <div class="col-12 col-sm">
                            <div class="form-wrap">
                                <label class="form-label-outside">From</label>
                                <!--Select 2-->
                                <select class="form-input select-filter select2-hidden-accessible" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                    <option>New Delhi (DEL)</option>
                                    <option value="2">London (LHR)</option>
                                    <option value="3">Atlanta (ATL)</option>
                                    <option value="4">Tokyo (HND)</option>
                                    <option value="5">Chicago (ORD)</option>
                                </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 482px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-5jbo-container"><span class="select2-selection__rendered" id="select2-5jbo-container" title="New Delhi (DEL)">New Delhi (DEL)</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="form-wrap">
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Add Nearby Airports
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-sm">
                            <div class="form-wrap">
                                <label class="form-label-outside">To</label>
                                <!--Select 2-->
                                <select class="form-input select-filter select2-hidden-accessible" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                    <option>New York (JFK)</option>
                                    <option value="2">Beijing (PEK)</option>
                                    <option value="3">Dubai (DXB)</option>
                                    <option value="4">Los Angeles (LAX)</option>
                                    <option value="5">Hong Kong (HKG)</option>
                                </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 482px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-j1id-container"><span class="select2-selection__rendered" id="select2-j1id-container" title="New York (JFK)">New York (JFK)</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                            <div class="form-wrap">
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>Add Nearby Airports
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-1-5">
                            <div class="form-wrap">
                                <label class="form-label-outside">Cabin Class</label>
                                <!--Select 2-->
                                <select class="form-input select-filter select2-hidden-accessible" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                    <option>Economy</option>
                                    <option value="2">Premium Economy</option>
                                    <option value="3">Business</option>
                                    <option value="4">First</option>
                                </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 226px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-g12z-container"><span class="select2-selection__rendered" id="select2-g12z-container" title="Economy">Economy</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row row-20 row-md-23 align-items-md-end">
                        <div class="col-12 col-sm">
                            <div class="form-wrap">
                                <label class="form-label-outside">Departure</label>
                                <input class="form-input form-control-has-validation form-control-last-child" type="text" data-time-picker="date" data-constraints="@Required" name="departure" data-dtp="dtp_jYMWd" id="regula-generated-779043"><span class="form-validation"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm">
                            <div class="form-wrap">
                                <label class="form-label-outside">Return</label>
                                <input class="form-input form-control-has-validation form-control-last-child" type="text" data-time-picker="date" data-constraints="@Required" name="return" data-dtp="dtp_sDZ3Q" id="regula-generated-668849"><span class="form-validation"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <div class="row row-20 row-md-23">
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <label class="form-label-outside">Adults (16+)</label>
                                        <div class="stepper "><input class="form-input stepper-input form-control-has-validation" type="number" min="0" value="2" data-constraints="@Numeric" id="regula-generated-626853"><span class="form-validation"></span><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-wrap">
                                        <label class="form-label-outside">Children</label>
                                        <div class="stepper "><input class="form-input stepper-input form-control-has-validation" type="number" min="0" value="0" data-constraints="@Numeric" id="regula-generated-530514"><span class="form-validation"></span><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-clear-flex align-items-md-end text-center text-xl-right">
                            <button class="button button-primary button-sm button-naira button-naira-up"><span class="icon fa-search"></span><span>Search Flight</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>

</div>