

<div class="container mt-5 ">
    <form action="/admin/generarPDF" method="post">
        <input type="hidden" name="img" id="img">

        <div class="mb-3">
            <div id="grafico" style="width: 100%; height: 500px;"></div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Generar PDF</button>
        </div>

    </form>
</div>

<script>
window.onload = function () {
    var data;
    var chart;
    var cantPartidas = {{contPartida.0.contPartidas}};

    console.log(cantPartidas);
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // Create our data table.
        data = new google.visualization.DataTable();
        data.addColumn('string', 'qtyPartidas');
        data.addColumn('number', 'Cantidad');
        data.addRows([
            ['Total', cantPartidas],
        ]);

        // Set chart options
        var options = {'title':'Cantidad total de partidas jugadas'};

        // Instantiate and draw our chart, passing in some options.
        chart = new google.visualization.BarChart(document.getElementById('grafico'));
        google.visualization.events.addListener(chart, 'select', selectHandler);
        chart.draw(data, options);

        document.getElementById('img').value = chart.getImageURI();
    }

    function selectHandler() {
        var selectedItem = chart.getSelection()[0];
        var value = data.getValue(selectedItem.row, 0);
        alert('The user selected ' + value);
    }
}

</script>