<h1>Crear pregunta</h1>
<form action="/editor/crearPregunta" method="post">
    <input type="text" name="pregunta">
    <input type="text" name="respuestaCorrecta">
    <input type="text" name="respuestaIncorrecta1">
    <input type="text" name="respuestaIncorrecta2">
    <input type="text" name="respuestaIncorrecta3">
    <input type="submit" value="Crear">
</form>