<div class="container mt-5">
    <h1>Editar pregunta</h1>

    <form action="/editor/editarPregunta" method="post" class="mt-3">
        {{#pregunta}}
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" id="id" name="id" value="{{id}}" readonly>
            </div>

            <div class="mb-3">
                <label for="pregunta" class="form-label">Pregunta</label>
                <input type="text" class="form-control" id="pregunta" name="pregunta" value="{{pregunta}}">
            </div>
        {{/pregunta}}

        <button type="submit" class="btn btn-primary">Editar</button>
    </form>

</div>