<style>
    .mt-5 {
        margin-top: 13rem!important;
    }
</style>
<body>
<div class="container mt-5">
    {{#completo}}
        <div class="alert alert-success" role="alert">
            {{completo}}
        </div>
    {{/completo}}

    {{#usuario}}
        <h2 class="mt-5">Nombre: {{usuario}}</h2>
        <h2>Puntaje máximo alcanzado: {{record}} pts</h2>
        <h2><a href="/juego/partida" class="btn btn-primary">Nueva partida</a></h2>
        <h2><a href="/juego/ranking" class="btn btn-secondary">Ver Ranking</a></h2>
        <h2><a href="/juego/sugerir" class="btn btn-info">Sugerir una pregunta</a></h2>
    {{/usuario}}

    <hr>

    {{#editor}}
        <h1 class="mt-4">Lobby EDITOR</h1>
        <h2><a href="/editor/verPreguntasSugeridas" class="btn btn-primary">Chequear las preguntas sugeridas por usuarios</a></h2>
        <h2><a href="/editor/renderCrearPregunta" class="btn btn-secondary">Nueva pregunta</a></h2>
        <h2><a href="/editor/renderGestionarPreguntas" class="btn btn-info">Gestor de preguntas</a></h2>
        <h2><a href="/editor/verPreguntasReportadas" class="btn btn-danger">Chequear las preguntas reportadas por usuarios</a></h2>

        <hr>
    {{/editor}}

    {{#admin}}
        <h1 class="mt-4">Lobby ADMIN</h1>
        <a href="/admin/renderCantidadJugadores" class="btn btn-primary my-2">Cantidad total jugadores</a> <br>
        <a href="/admin/renderCantidadJugadoresNuevos" class="btn btn-secondary my-2">Cantidad de jugadores nuevos</a> <br>
        <a href="/admin/renderCantidadPreguntas" class="btn btn-info my-2">Cantidad total de Preguntas</a> <br>
        <a href="/admin/renderCantidadJugadoresSexo" class="btn btn-danger my-2">Cantidad de jugadores por sexo</a> <br>
        <a href="/admin/renderCantidadJugadoresEdad" class="btn btn-warning my-2">Cantidad de jugadores por edad</a> <br>
        <a href="/admin/renderCantidadPartidasJugadas" class="btn btn-success my-2">Cantidad de partidas jugadas</a> <br>
        <a href="/admin/renderCantidadPreguntasCorrectasPorUsuario" class="btn btn-primary my-2">Cantidad de preguntas correctas por usuario</a>
    {{/admin}}

</div>
</body>