
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <h2 class='w3-wide'>Preguntontas</h2>
    <table class='w3-table'>
    <h1>Lobby</h1>
        {{#usuario}}
        <h2>Nombre del tipito: {{usuario}}</h2>
        <h2>Puntaje maximo alcanzado:
            {{record}}
            pts</h2>
        <h2><a href="/juego/partida">Nueva partida</a></h2>
        <h2><a href="/juego/ranking">Ver Ranking</a></h2>
        <h2>Sugerir una pregunta</h2>
        {{/usuario}}
        <hr>
        {{#editor}}
        <h1>Lobby EDITOR</h1>
        <h2>Chequear las preguntas sugeridas por usuarios (alta, baja, modificacion)</h2>
        <a href="/editor/renderCrearPregunta">Nueva pregunta</a>
        <a href="/editor/renderGestionarPreguntas">Gestor de preguntas</a>
        <h2>Modificar pregunta</h2>
        <h2>Chequear las preguntas reportadas por usuarios</h2>
        <hr>
        {{/editor}}
        {{#admin}}
        <h1>Lobby ADMIN</h1>
            <a href="/admin/renderCantidadJugadores">Cantidad total jugadores</a> <br>
            <a href="/admin/renderCantidadPreguntas">Cantidad total de Preguntas</a> <br>
            <a href="/admin/renderCantidadJugadoresSexo">Cantidad de jugadores por sexo</a> <br>
            <a href="/admin/renderCantidadJugadoresEdad">Cantidad de jugadores por edad</a>
        {{/admin}}
    </table>
</div>