
<body>
<div class="container mt-5">
    <h1 class="text-center mt-5">¡Jugá y respondé las <span class="text-danger">preguntontas</span>!</h1>
    <section class="mt-5">
        <h2 class="h4">{{pregunta}}</h2>
        <div class="mt-4">
            {{#opciones}}
                <p class="lead">{{.}}</p>
            {{/opciones}}
        </div>
    </section>
</div>
</body>