<h1>¡Jugá y respondé las <span class="enfasis">preguntontas</span>!</h1>
<section class="juego">
    <h2 class="pregunta">¿Pregunta?</h2>
    <div class="opciones">
        <p class="opcion">Respuesta 1</p>
        <p class="opcion">Respuesta 2</p>
        <p class="opcion">Respuesta 3</p>
        <p class="opcion">Respuesta 4</p>
    </div>
</section>