<h1>¡Jugá y respondé las <span class="enfasis">preguntontas</span>!</h1>
<section class="juego">
    <h2 class="pregunta">{{pregunta}}</h2>
    <div class="opciones">
        {{#opciones}}
        <p class="opcion">{{.}}</p>
        {{/opciones}}
    </div>
</section>