<!-- Navbar -->
<div id="negro">
<div id="header">
    <div id="botones_header" class="row">
        <div class="col-12">
            <a id="sec" href="#">Mis viajes</a>
            <a id="sec" href="#">Novedades</a>
            <a id="sec" href="#">Quienes somos</a>
            <a id="sec" href="#">Nuestros viajes</a>
            <a href='/login'><button class='btn btn-dark'>Iniciar sesion</button></a>
            <a href='/register'><button class='btn btn-dark'>Registrarme</button></a>
            <img src="../public/logo.png" alt="">
        </div>
    </div>
</div>