<link rel="stylesheet" href="/public/css/partida.css">

<body {{#categoria}}class="{{categoria}}"{{/categoria}}>
<div class="container mt-5">
    {{#categoria}}
        <div class="cont-categoria">
            <h3>{{categoria}}</h3>
        </div>
    {{/categoria}}
    <h1 class="text-center">Preguntontas</h1>
    <div id="visual-timer" {{#check}}class="d-none"{{/check}}>
        <div id="timer-wrapper"><span id="time">00:15</span></div>
    </div>
    <div class="card text-dark bg-light mx-auto" style="max-width: 800px; border-radius: 20px;">
        {{#pregunta}}
            <div class="card-body">
                <h2 class="card-title">{{Pregunta}}</h2>
            </div>
        {{/pregunta}}
        {{#respuestas}}
            <a href="/juego/respuesta/id={{opcioncorrecta}}" class="list-group-item list-group-item-action text-center opciones">
            {{opcion}}
            </a>
        {{/respuestas}}
        {{#check}}
            <div class="card-body text-center">
                {{check}}
                <h2 class="card-text"><a href="/juego/partida" class="btn btn-primary">Nueva partida</a></h2>
            </div>
        {{/check}}
        {{#racha}}
            <div class="card-body">
                <p class="card-text">Tu racha es de: {{racha}}</p>
            </div>
        {{/racha}}

        {{#idPregunta}}
            <div class="card-body">
                <button type="button" class="btn btn-sm btn-dark btn-11"
                        onclick="reportarPregunta('{{idPregunta}}')">Reportar pregunta
                </button>
            </div>
        {{/idPregunta}}
    </div>

    <script src="/public/js/tiempo_partida.js"></script>

    <script>
        function reportarPregunta(value) {
            let data = {
                id_pregunta: value
            };

            let xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        alert('La pregunta fue reportada con exito!');
                    } else {
                        alert('Error en la solicitud :' + this.status + ", " + this.statusText);
                    }
                }
            };

            xmlhttp.open("PUT", "/juego/reportarPregunta", true);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify(data));
        }
    </script>

</div>

</body>