<style>
    .fondo{
        background-image: url("/../public/Fondo3.jpeg");
        background-size: 100%;
    }

    a{
        text-decoration: none;
    }

    li{
        list-style: none;
        padding: 5px;
        margin: 10px;
    }
    .opciones{
        background-color: rgba(255,255,255,1);
        border-radius: 10px;
        font-size: 20px;
    }
    .pregunta{
        background-color: rgba(255,255,255,1);
        border-radius: 10px;
        padding: 50px;
        margin-bottom: 20px;
    }
    .opciones:hover{
        background-color: rgba(0,0,0,0.5);
        transition: 0.2s;
        box-shadow: 1px 1px 3px black;
        color: white;
    }
    .tarjeta{
        background-color: rgba(0,0,0,0.8);
        padding: 50px;
        border-radius: 20px;
    }
    .reporte{
        color: rgba(255, 0, 0, 0.8);
        margin-top: 20px;
    }
    .reporte:hover{
        text-decoration: underline;
    }

    .racha{
        color: white;

    }
</style>

<body>
<div class="container mt-5">
    <h1 class="text-center text-light">Preguntontas</h1>
    <div class="card text-dark bg-light mx-auto" style="max-width: 800px; border-radius: 20px;">
        {{#pregunta}}
            <div class="card-body">
                <h2 class="card-title">{{Pregunta}}</h2>
            </div>
        {{/pregunta}}
        {{#respuestas}}
            <a href="/juego/respuesta/id={{opcioncorrecta}}" class="list-group-item list-group-item-action">
            {{opcion}}
            </a>
        {{/respuestas}}
        {{#check}}
            <div class="card-body">
                {{check}}
                <h2 class="card-text"><a href="/juego/partida" class="btn btn-primary">Nueva partida</a></h2>
            </div>
        {{/check}}
        {{#racha}}
            <div class="card-body">
                <p class="card-text">Tu racha es de: {{racha}}</p>
            </div>
        {{/racha}}

        {{#idPregunta}}
            <div class="card-body">
                <a href="/juego/reportarPregunta/id={{idPregunta}}" class="text-danger"><i class="bi bi-exclamation-lg"></i> Reportar pregunta</a>
                {{#reportar}}
                    <p class="card-text">Esta pregunta fue reportada</p>
                {{/reportar}}
            </div>
        {{/idPregunta}}
    </div>
</body>