<style>
    .mt-5 {
        margin-top: 10rem!important;
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Ranking</h1>

    <main class="row d-flex flex-column">
        <!--<a class="btn-11" href="/lobby">Volver</a>-->
        <div class="table-responsive d-flex flex-column">
            <table id="rankingTable" class="table-borderless table-striped col-lg-8 align-self-center">
                <caption>Ranking de usuarios</caption>
                <thead class="border-top align-middle text-dark">
                <tr class="text-center text-bg-dark">
                    <th class="border-end border-start border-bottom">Ranking</th>
                    <th class="border-end border-start border-bottom">Foto</th>
                    <th class="border-end border-start border-bottom">Puntos</th>
                </tr>
                </thead>
                <tbody id="rankingBody" class="align-middle border-bottom">
                </tbody>
            </table>
        </div>
    </main>
    <script type="text/javascript">

        function cargarRanking() {
            let xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let data = JSON.parse(this.responseText);
                    actualizarTablaRanking(data.usuarios);
                }
            }
            xmlhttp.open("GET", "/juego/traerRanking", true);
            xmlhttp.send();
        }

        function actualizarTablaRanking(usuarios) {
            let tablaBody = document.getElementById("rankingBody");
            usuarios.forEach(function (usuario) {
                let fila = document.createElement("tr");
                fila.className = "text-center";
                fila.innerHTML = `
    <td class="border-end border-start fw-bolder">
        <a class="text-decoration-none text-uppercase" href="/user/perfil/usuario=${usuario.nombre}">${usuario.nombre}</a>
    </td>
    <td class="border-end">
        <img src="/${usuario.fotoPerfil}" alt="${usuario.nombre}" class="img-fluid" width="100px">
    </td>
    <td class="border-end ">${usuario.puntosTotales}</td>`;
                tablaBody.appendChild(fila);
            });
        }
        cargarRanking();
    </script>
    <script src="../public/js/resize_image.js"></script>

</div>