<style>
    .mt-5 {
        margin-top: 10rem!important;
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4 text-center">Ranking</h1>

    <div class="row">
        <div class="col-md-12">
            {{#rank}}
                <div class="card mb-4 bg-primary text-white d-flex">
                    <div class="card-body d-inline-flex justify-content-around">
                        <h5 class="card-title mb-2">{{usuario}}</h5>
                        <p class="card-text mb-2">Puesto: {{ranking}}</p>
                        <p class="card-text mb-2">Record: {{record}}</p>
                        <a href="/user/perfil/usuario={{usuario}}" class="btn btn-light">Ver perfil</a>
                    </div>
                </div>
            {{/rank}}
        </div>
    </div>

</div>