<script src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY"></script>
<script>
    function loadMap() {

        var mapOptions = {
            center:new google.maps.LatLng(-34.6686986,-58.5614947),
            zoom:12,
            panControl: false,
            zoomControl: false,
            scaleControl: false,
            mapTypeControl:false,
            streetViewControl:true,
            overviewMapControl:true,
            rotateControl:true,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("mapa"),mapOptions);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-34.6686986,-58.5614947),
            map: map,
            draggable:true,
            icon:'/imagenes/logo_unlam.png'
        });

        google.maps.event.addListener(marker, "click", function (event) {
            var latitude = event.latLng.lat();
            var longitude = event.latLng.lng();
            alert( latitude + ', ' + longitude );
        });
    }

    //google.maps.event.addDomListener(window, 'load', loadMap);

</script>

<style>

    .fondo{
        background-image: url("/../public/Fondo3.jpeg");
        background-size: 100%;
    }

</style>

<body class="fondo" onload="loadMap()">
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
    <h2 class='w3-wide'>Preguntontas</h2>
    <table class='w3-table'>
    <h1>REGISTER</h1>
        <form action="/user/register" method="post" enctype="multipart/form-data">
            <div class="w3-row-padding">
                <div class="w3-half">
                    <div class="w3-margin">
                        <input type="text" placeholder="Ingresa nombre" name="nombre" class="w3-input" required>
                    </div>

                    <div class="w3-margin">
                        <label>Año de nacimiento</label>
                        <input type="date" name="fechaNacimiento" class="w3-input" required>
                    </div>
                    <div class="w3-margin">
                        <label for="">Seleccione su ubicacion</label>
                        <div id="mapa" style="width:500px; height:400px;"></div>
                    </div>
                    <div class="w3-margin">
                        <input type="text" placeholder="Ingresa usuario" name="usuario" class="w3-input" required>
                    </div>

                </div>

                <div class="w3-half">
                    <div class="w3-margin">
                        <input type="text" placeholder="Ingresa apellido" name="apellido" class="w3-input" required>
                    </div>
                    <div class="w3-margin">
                        <select name="sexo" id="sexo" class="w3-select">
                            <option value="" disabled selected>Seleccione un Genero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Prefiero no decirlo</option>
                        </select>
                    </div>
                    <div class="w3-margin">
                        <input type="email" placeholder="Ingresa Email" name="email" class="w3-input" required>
                    </div>
                    <div class="w3-margin">
                        <input type="password" placeholder="Ingresa Contraseña" name="contraseña" class="w3-input" required>
                    </div>
                    <div class="w3-margin">
                        <input type="password" placeholder="Repita la contraseña" name="repiteContraseña" class="w3-input" required>
                    </div>
                </div>
                <div class="w3-container w3-center w3-margin-top">
                    <label>Foto de perfil</label>
                </div>
                <input type="file" name="file" required>
                <br>
                <br>
                <button class="w3-button w3-round-large w3-teal" type="submit">Registrar</button>
                {{#error}}
                    <div class="w3-red w3-padding-16 w3-margin" style="font-size: large">El usuario ya existe</div>
                {{/error}}
            </div>
        </form>
    </table>
</div>
</body>
