<style>
    .mt-5 {
        margin-top: 6rem!important;
    }
</style>
<div class="container mt-5">
    <form action="/juego/sugerirPregunta" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="pregunta" class="form-label">Ingresa pregunta</label>
                    <input type="text" class="form-control" id="pregunta" name="pregunta" required>
                </div>

                <hr>

                <div class="mb-3">
                    <label for="respuesta_correcta" class="form-label">Ingresa respuesta correcta</label>
                    <input type="text" class="form-control" id="respuesta_correcta" name="respuesta_correcta" required>
                </div>

                <div class="mb-3">
                    <label for="Opcion1" class="form-label">Ingresa otra opción</label>
                    <input type="text" class="form-control" id="Opcion1" name="Opcion1" required>
                </div>

                <div class="mb-3">
                    <label for="Opcion2" class="form-label">Ingresa otra opción (opcional)</label>
                    <input type="text" class="form-control" id="Opcion2" name="Opcion2">
                </div>

                <div class="mb-3">
                    <label for="Opcion3" class="form-label">Ingresa otra opción (opcional)</label>
                    <input type="text" class="form-control" id="Opcion3" name="Opcion3">
                </div>

                <hr>

                <div class="mb-3">
                    <label for="categoria" class="form-label">Seleccione una categoría</label>
                    <select class="form-select" id="categoria" name="categoria" required>
                        <option value="" disabled selected>Seleccione una categoria</option>
                        <option value="Entretenimiento">Entretenimiento</option>
                        <option value="Deporte">Deporte</option>
                        <option value="Naturaleza">Naturaleza</option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit">Sugerir</button>
            </div>
        </div>
    </form>
</div>